# SPDX-License-Identifier: MIT

kconf hardware bsp/intel-x86/intel-x86-serial-8250-overrides.cfg

# NVME driver to support boot from nvme disk
CONFIG_BLK_DEV_NVME=y

# EDAC
CONFIG_RAS=y
CONFIG_EDAC=y
CONFIG_EDAC_DEBUG=y
CONFIG_EDAC_SBRIDGE=m
CONFIG_ACPI_APEI=y
CONFIG_ACPI_APEI_EINJ=m
CONFIG_ACPI_APEI_GHES=y
CONFIG_EDAC_PND2=m
CONFIG_EDAC_SKX=m
CONFIG_EDAC_I10NM=m
CONFIG_EDAC_IGEN6=m

# DesignWare PWM Controller
CONFIG_PWM_DWC=m

# DesignWare SPI controller core support
CONFIG_SPI_DESIGNWARE=m
CONFIG_SPI_DW_DMA=y
CONFIG_SPI_DW_PCI=m
CONFIG_SPI_DW_MMIO=m
